body {
  background-image: linear-gradient(to right, #9370DB, #87CEFA) !important;
}

.writing_colour {
    color: #F8F8FF ;

}

img {
  height: 500px;
  width: 600px;
}

.home_div {
  flex-direction: column;
}