body {
  background-image: linear-gradient(to right, #9370DB, #87CEFA) !important;
}

h1 {
    color: #F8F8FF ;

}

h2 {
  color: #F8F8FF ;

}

#butterfly {
  height: 500px;
  width: 600px;
  border-radius: 50%;
}

.home_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#submit{
  background-color: rgb(146, 99, 203);
  color: aqua;
}
