{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="home_div">

      
        <h1>Natasha's basic portfolio</h1>

        <img id="butterfly" src="static\images\sian-cooper-4kEobPqPgKw-unsplash.jpg">

        <h2>Forver learning, forever transforming, forver evolving</h2>
        



    </div>


    {% endblock %}
    
</body>
</html>